# This workflow checkouts code and publishes to PyPI at:
# https://pypi.org/project/redata/
# Some syntax from:
# https://github.com/FootBrawlers/robosoft/blob/f06cfcd8443b33eb258e59a054c7d210fa896dad/.github/workflows/pypi-release.yml

name: Publish to PyPI

on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*'  # Push events to matching v*

jobs:
  package-n-publish:
    runs-on: ubuntu-latest
    environment:
      name: testpypi
      url: https://test.pypi.org/p/redata/
    permissions:
      id-token: write
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
    - name: Install PyPI dependencies
      run: |
        python -m pip install --user --upgrade setuptools wheel
    - name: Build
      run: |
        python setup.py sdist bdist_wheel
    - name: Publish to Test PyPI
      uses: pypa/gh-action-pypi-publish@release/v1.13
      with:
        repository_url: https://test.pypi.org/legacy/